SUBMIT_SERVICE_DB_HOST=mysql
SUBMIT_SERVICE_DB_USER=root
SUBMIT_SERVICE_DB_PASSWORD=root
SUBMIT_SERVICE_DB_NAME=jokes_db
SUBMIT_SERVICE_PORT=3200
JOKE_SERVICE_URL=http://joke-service:3000
TYPES_CACHE_FILE=/app/cache/types-cache.json
RABBITMQ_URL=amqp://rabbitmq:5672
RABBITMQ_QUEUE=submitted_jokes